body{
    background: #dbdbdb;
}

.api-tester-form .form-field {
    display: flex;
    align-items: flex-start;
    margin: 1em 0;
    gap: 1em;
}

.api-tester-form .form-field label {
    flex: 0 0 125px;
    padding-top: 5px;
}

.api-tester-form .form-field input[type="text"],
.api-tester-form .form-field textarea {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    border-radius: 0;
    border-style: none;
}

.api-tester-form .form-field input[type="checkbox"] {
    margin-top: 8px;
}

.api-tester-form .form-field textarea {
    font-family: monospace;
    min-height: 100px;
}

.wp-core-ui .api-tester p .button {
    background: #006fd7;
    border-radius: 0;
    padding: .5em 2em;
    border-style: none;
    transition: transform 0.1s ease-in;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wp-core-ui .api-tester p .button:hover {
    transform: translateY(2px);
}